html { 
	background: black;
 	font-size: 1em;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;}
}


html.sapUiTheme-sap_goldreflection body.sapUiBody {
	background-color: rgb(0,0,0);	
    font: normal 100% PT+Sans, Arial, Helvetica, sans-serif;	
}


body { 
	background-color: rgb(0,0,0);
}



#content {
	position: absolute;
	left: 0px,
	top: 0px;
	background-color: transparent;
}


img.bg {
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
  	opacity: 0;
  	-webkit-animation: bgFadeIn 10s;
  	-webkit-animation-delay: 10.5s;
  	-webkit-animation-fill-mode: forwards;
}


#viewCockpit {
	position: absolute;
	left: 0px,
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}



#lblKeyToStart {
	position: fixed;
	top: 50%;
  	left: 50%;
  	margin-left: -100px;
  	margin-top: -430px;
	-webkit-animation: pulse 1.5s;
	-webkit-animation-delay: 19.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	background-color: transparent;	
	color: rgb(255,255,255);
	opacity: 0;
	display: inline;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
}


#mlMainMenu {
	-webkit-animation: pulse 1.5s;
  	-webkit-animation-fill-mode: forwards;
  	display: none;
	position: fixed;
  	top: 40%;
  	left: 5%;
  	margin-left: -10px;
  	margin-top: -10px;
	background-color: transparent;	
}

#mlBanner {
	position: fixed;
  	top: 5%;
  	left: 5%;
  	margin-left: -10px;
  	margin-top: -10px;
	background-color: transparent;	
}

#mlPilotMenu {
	position: fixed;
  	top: 35%;
  	left: 35%;
  	margin-left: -10px;
  	margin-top: -10px;
	background-image: -webkit-linear-gradient(left, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
}

#lnkSoloCampaign {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}


#lnkSoloCampaign:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;
}



#lnkMultiplayer {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}


#lnkMultiplayer:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;
}



#lnkFreeride {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}


#lnkFreeride:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;

}




#lnkSettings {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}


#lnkSettings:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;

}



#lnkQuit {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}


#lnkQuit:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;
}


#lblPlayer {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;		
	z-index:10;
}




#lblPilot {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilotName {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblClan {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}



#lblComplChallenges {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}


#lblPilot1 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilotName1 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblClan1 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}



#lblComplChallenges1 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilot2 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilotName2 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblClan2 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}



#lblComplChallenges2 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}


#lblPilot3 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilotName3 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblClan3 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}



#lblComplChallenges3 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilot4 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblPilotName4 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

#lblClan4 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}



#lblComplChallenges4 {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: "PT Sans", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;	
	line-height: 120%;	
	padding-top: 10px;
}

.sapUiCrslPrevBtn:hover {
	background-color: rgb(51, 94, 169);
}


.sapUiCrslNextBtn:hover {
	background-color: rgb(51, 94, 169);
}


@-webkit-keyframes bgFadeIn {
	0% 	{
  			opacity:0;
	   	}

	30% {
  			opacity:0;
	   	}

	50% {
  			opacity:0;
	   	}
	   	
	100% {
			opacity:1;
		}
}


@-webkit-keyframes pulse {
	0% 	{
  			opacity:0;
	   	}

	   	
	100% {
			opacity:1;
		}
}


@-webkit-keyframes borderPulse {
	0% 	{
  			border-color: blue;
  			 background-position:0px;

	   	}
	100% {
		  	border-color: transparent;  	
		  	 background-position:-150px;		

		}

}
