

/* ---------------------------
		    FONTS
   --------------------------- */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



html { 
	background: black;
 	font-size: 1em;
	font-family: font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;}
}


html.sapUiTheme-sap_goldreflection body.sapUiBody {
	background-color: rgb(0,0,0);	
    font: normal 100% BebasNeueRegular, Arial, Helvetica, sans-serif;	
}


body { 
	background-color: rgb(0,0,0);
}



#content {
	position: absolute;
	left: 0px,
	top: 0px;
	background-color: transparent;
}




/* ---------------------------
		    Home View
   --------------------------- */
img.bg {
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
  	opacity: 0;
  	-webkit-animation: bgFadeIn 10s;
  	-webkit-animation-delay: 10.5s;
  	-webkit-animation-fill-mode: forwards;
}

#lblKeyToStart {
	position: fixed;
	top: 50%;
  	left: 50%;
  	margin-left: -100px;
  	margin-top: -430px;
	-webkit-animation: pulse 1.5s;
	-webkit-animation-delay: 19.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	background-color: transparent;	
	color: rgb(255,255,255);
	opacity: 0;
	display: inline;
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;	
	line-height: 120%;
}


#mlMainMenu {
	-webkit-animation: pulse 1.5s;
  	-webkit-animation-fill-mode: forwards;
  	display: none;
	position: fixed;
  	top: 40%;
  	left: 5%;
  	margin-left: -10px;
  	margin-top: -10px;
	background-color: transparent;	
}




/* ---------------------------
		Main Menu View
   --------------------------- */

#lnkSoloCampaign {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}

#lnkSoloCampaign:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;
}


#lnkMultiplayer {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}

#lnkMultiplayer:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;
}

#lnkFreeride {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}

#lnkFreeride:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;

}

#lnkSettings {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}

#lnkSettings:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;

}

#lnkQuit {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
}


#lnkQuit:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;
}




/* ---------------------------
		   Pilot View
   --------------------------- */
#mlPilotCarousel {
	position: fixed;
  	top: 35%;
  	left: 35%;
  	margin-left: -10px;
  	margin-top: -10px;
	background-image: -webkit-linear-gradient(left, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
}

[id^="lblPilot"] {
	color: rgb(255,255,255);
	opacity: 1;
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;	
	line-height: 120%;	
	padding-top: 10px;
}

[id^="lblPilotName"] {
	color: rgb(255,255,255);
	opacity: 1;
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;	
	line-height: 120%;	
	padding-top: 10px;
}

[id^="lblClan"] {
	color: rgb(255,255,255);
	opacity: 1;
	font-family: 'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;	
	line-height: 120%;	
	padding-top: 10px;
}



[id^="lblComplChallenges"] {
	color: rgb(255,255,255);
	opacity: 1;
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;	
	line-height: 120%;	
	padding-top: 10px;
}


[id^="lnkLaunch"] {
	background-size:1px 400px;  
	background-color: transparent;	
	-webkit-animation: borderPulse 1s;
  	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;	
	 -webkit-animation-play-state:paused;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	line-height: 120%;
	text-decoration: none;
	padding-left: 10px;
	text-align: center; 
}

[id^="lnkLaunch"]:hover {
	background: -webkit-linear-gradient(left,rgba(0,0,255,1),rgba(0,0,0,0)) no-repeat;;  
    -webkit-animation-play-state:running;
	color: rgb(255,255,255);	
	border-left: 7px solid;
	border-color: blue;
	padding-left: 3px;

}



/* ---------------------------
		  Cockpit View
   --------------------------- */   
#mlPanePilotCam {
	position: fixed;
	top: 157px;
  	left: 129px;
}


#mlPanePower {
	position: fixed;
	top: 	0px;
  	left:	0px;
  	width:	440px;
  	height:	152px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-left: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
}


#mlPaneDrive {
	position: fixed;
	top: 	157px;
  	left:	0px;
  	width:	125px;
  	height:	255px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-left: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
}


#mlPaneEarthTime {	
	position: fixed;
	top: 0px;
  	left:	447px;
  	width:	493px;
  	height:	152px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-left: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
}


#mlPanePrimarySystems {
	position: fixed;
	top: 	0px;
  	left:	945px;
  	width:	390px;
  	height:	152px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
}


#mlPaneNavigation {
	position: fixed;
	top: 0px;
  	left: 1340px;
  	width: 580px;
  	height:	580px;
  	vertical-align: top;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(6, 15, 40);
}


#cockpitMap {
	margin-top: 27px;
	margin-left: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(6, 15, 40);
}


#mlPaneMissionControl {
	position: fixed;
	top: 585px;
  	left: 1340px;
  	width: 570px;
  	height:	479px;
	background-color: transparent;	
	border-width: 2px;
	border-style: solid;
	border-color: rgb(6, 15, 40);
}


#mlPaneMissionControl1 {
	margin-top: 5px;
	margin-left: 7px;	
}


#mlPaneWeapons {
	position: fixed;
	top: 	417px;
  	left:	0px;
  	width:	125x;
  	height:	300px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-left: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
}


#mlPaneDummy {
	position: fixed;
	top: 	722px;
  	left:	0px;
  	width:	125x;
  	height:	342px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-left: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
}


#mlPaneFooter {
	position: fixed;
	top: 	1069px;
  	left:	0px;
  	width:	1920x;
  	height:	45px;
	background-color: transparent;	
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border-top: 2px solid rgb(6, 15, 40);
	border-left: 2px solid rgb(6, 15, 40);
	border-right: 2px solid rgb(6, 15, 40);
	border-bottom: 2px solid rgb(6, 15, 40);
}


#placeholder {
	position: fixed;
	top: 	1033px;
  	left:	10px;
  	width:	300px;
  	height:	80px;
  	color: rgb(6, 15, 40);
}


[id^="lblPane"] {
	color: rgb(8,100,191);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3em;
	text-align: center; 
	padding-top: 2px;
}


#lblPanePrimarySystems {
	
}


[id^="lblInd"] {
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	text-align: center; 
	padding: 2px;
	margin: 5px;
	background-image: -webkit-linear-gradient(top, rgb(0, 63, 124) 0%, rgb(0, 32, 115) 100%);
	border: 1px solid rgb(0, 20, 78);
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 1px rgba(6, 15, 40, 0.4), 0 1px 3px #333333;
	padding: 4px 5px 2px 5px;
	text-decoration: none;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
	
}

[id^="lblStatus"] {
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	margin: 6px; 
	padding: 2px 2px 2px 10px;
	border-left: 8px solid rgb(0, 255, 0);
}

[id^="lblVal"] {
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em; 
	margin: 6px 0px 6px 0px; 
	padding: 2px 0px 2px 0px;
}


[id^="lblVoltage"] {
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	
	padding-top: 2px;
}

[id^="lblConsumedMah"] {
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	text-align: center; 
	padding-top: 2px;
}


#imgWeapon {
	margin-left: 10px;
}


#gaugeCurrent {
	width: 65px; 
	height: 65px;
    display: inline-block;
    margin-top: -15px;
}


#gaugeAmps  {
	width: 65px; 
	height: 65px;
    display: inline-block;
    margin-top: -15px;
}


#gaugeConsumedMah {
	width: 125px; 
	height: 125px;
    display: inline-block;
    margin-top: -15px;
}


#gaugeVoltage {	
	width: 125px; 
	height: 125px;
    display: inline-block;
    margin-top: -10px;
}


#gaugeBattRemaining {
	width: 125px; 
    height: 125px;
    display: inline-block;
    margin-top: -15px;
}


#gaugeCoreTemp {	
    width: 125px; 
    height: 125px;
    display: inline-block;
    margin-top: -10px;
}


#gaugeShield {
    width: 125px; 
    height: 125px;
    display: inline-block;
    margin-top: -15px;
}


#gaugeProximityCam {	
	width: 150px; 
	height: 135px;
	margin-top: -15px;
	display: inline-block;
}


#gaugeProximityFront {	
	width:150px; 
	height:135px;
	margin-top: -15px;
	display: inline-block;
}


#gaugeProximityRear {	
	width:150px; 
	height:135px;
	margin-top: -15px;
	display: inline-block;
}


#gaugeThrust {
	width: 120px; 
    height: 120px;
    margin-top: -30px;
    display: inline-block;
}


#gaugeAmmo {
	width: 120px; 
    height: 120px;
    display: inline-block;
}


#mlPrimarySystemsStatusPanel {
	position: fixed;
	top: 800px;
  	left:150px;
  	background-color: blue;
}


#lblPowerStatus{ 
	color: rgb(255,255,255);
	background-color: red;
}


#mlSecondarySystemsStatusPanel {
	position: fixed;
	top: 800px;
  	left:1550px;
}

#mlPaneBearingIndicators {
	position: fixed;
	top: 160px;
  	left:470px;
}


#lblCompass {
	position: fixed;
	top: 224px;
  	left: 495px;	
  	width: 100px;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.0em; 
	text-align: center; 

}

#lblCompassVal {
	position: fixed;
	top: 204px;
  	left: 495px;	
  	width: 100px;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em; 
	text-align: center; 

}

#lblCamPan {
	position: fixed;
	top: 224px;
  	left: 645px;	
  	width: 100px;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.0em; 
	text-align: center; 

}

#lblCamPanVal {
	position: fixed;
	top: 204px;
  	left: 645px;	
  	width: 100px;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em; 
	text-align: center; 

}


#lblWaypoint {
	position: fixed;
	top: 224px;
  	left: 796px;	
  	width: 100px;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.0em; 
	text-align: center; 

}

#lblWaypointVal {
	position: fixed;
	top: 204px;
  	left: 796px;	
  	width: 100px;
	color: rgb(255,255,255);
	font-family:'BebasNeueRegular', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em; 
	text-align: center; 

}

#compassBearing {
	-webkit-transform: rotate(90deg);
}


#panAngle {
	-webkit-transform: rotate(10deg);
}


#homeBearing {
	-webkit-transform: rotate(180deg);
}




/* ---------------------------
	   SAP Theme Overrides
   --------------------------- */




.sapUiCrslPrevBtn:hover {
	background-color: rgb(51, 94, 169);
}

.sapUiCrslNextBtn:hover {
	background-color: rgb(51, 94, 169);
}

.sapUiLnk:hover {
	text-decoration: none;
}	

.sapUiLnk:visited {
	text-decoration: none;
}	

.sapUiMltPadRight {
	padding: 0px;
	vertical-align: top;
}	

.sapUiTabSel {
	background-color: rgb(0, 46, 119);
	border-color: rgb(6, 15, 40);
	text-decoration: none;
	border: none;
}

.sapUiTabSel:focus {
	outline: 0;
}	


.sapUiTab {
	background-color: rgb(83, 83, 83);
	border-color: rgb(6, 15, 40);	
	color: rgb(255, 255, 255);
}

.sapUiTab:hover {
	background-color: rgb(7, 17, 46);
	border-color: rgb(6, 15, 40);	
}

.sapUiTab:hover, .sapUiTab:visted, .sapUiTab:link, .sapUiTab:active {
	text-decoration: none;
}


.sapUiTabPanel {
	background-image:  -webkit-linear-gradient(top, rgba(6, 15, 40, 0) 0%, rgba(6, 15, 40, 1) 50%);
	border: 2px solid rgb(4, 11, 30);
}


.sapUiTabBarCnt {
	border-bottom-color: rgb(0, 46, 119);
}	

/* ---------------------------
	   Animation Keyframes
   --------------------------- */   
@-webkit-keyframes bgFadeIn {
	0% 	{
  			opacity:0;
	   	}

	30% {
  			opacity:0;
	   	}

	50% {
  			opacity:0;
	   	}
	   	
	100% {
			opacity:1;
		}
}

@-webkit-keyframes pulse {
	0% 	{
  			opacity:0;
	   	}

	   	
	100% {
			opacity:1;
		}
}

@-webkit-keyframes borderPulse {
	0% 	{
  			border-color: blue;
  			 background-position:0px;

	   	}
	100% {
		  	border-color: transparent;  	
		  	 background-position:-150px;		

		}

}
